{% extends "application.html" %}
{% block style %}
    <link rel="stylesheet" href="/static/css/top.css">
{% endblock %}

{% block body %}
    <div>
        <div class = "container top-image">
            <div class="row">
                <img  class="img-fluid mx-auto" src="/static/images/logo.png">
            </div>
        </div>
        <div class = "container introduction">
        <p> Many HopersはRainbow Six Siegeを愛する人たちが集まったチームです! </p>
        <p> Many Hopersは積極的に大会に参加し、優勝を狙うチームです! </p>
        <p> Many Hopersは世界大会出場を本気で目指すチームです! </p>
        </div>
    </div>
{% endblock %}

