{% extends "application.html" %}
{% block style %}
    <link rel="stylesheet" href="/static/css/top.css">
{% endblock %}

{% block body %}
    <div>
        <div class = "container top-image">
            <div class="row">
                <img  class="img-fluid mx-auto" src="/static/images/logo.png">
            </div>
        </div>
        <div class = "container introduction">
            <h2>  ゴールド帯から頂点へ！！ </h2>
            </div>
        <div class = "container introduction">
        <p> R6S アマチュアチーム Many Hopers へようこそ！ </p>
        </div>
        <div class = "container introduction">
        <p> 現在チームメンバー絶賛募集中です！！ </p>
        <p>　応募はcontactページから！！</p>
        </div>
    </div>
{% endblock %}

